<div class="footer-links">
  <a href="#">About Us</a>
  <a href="#">Support</a>
  <a href="#">Terms of Service</a>
</div>

<div class="social-media">
  <a href="https://twitter.com/sua_conta" target="_blank" aria-label="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a
    href="https://facebook.com/sua_pagina"
    target="_blank"
    aria-label="Facebook"
  >
    <i class="fab fa-facebook-f"></i>
  </a>
  <a
    href="https://instagram.com/sua_conta"
    target="_blank"
    aria-label="Instagram"
  >
    <i class="fab fa-instagram"></i>
  </a>
</div>
