<div class="header-container">
  <div class="logo">
    <a href="/" aria-label="Página inicial SYNTHX.COM" title="SYNTHX.COM">
      <img
        src="/src/assets/synthx-logo.png"
        alt="SYNTHX.COM Logo"
        class="logo-image"
      />
    </a>
  </div>

  <div class="search-bar">
    <div class="search-input-container">
      <input type="text" id="searchInput" placeholder="Search for game." />
      <button id="searchButton" class="search-btn">
        <i class="fas fa-search"></i>
      </button>
      <div
        id="searchSuggestionsContainer"
        class="suggestion-dropdown"
        style="display: none"
      ></div>
    </div>
  </div>

  <div class="auth-buttons">
    <button class="btn btn-login"><i class="fas fa-user"></i> Entrar</button>
    <button class="btn btn-register">
      <i class="fas fa-sign-in-alt"></i> Cadastrar
    </button>

    <a
      href="#"
      id="cart-link"
      class="btn cart-btn"
      aria-label="Carrinho de Compras"
    >
      <i class="fas fa-shopping-cart"></i>
      <span id="cart-counter" class="cart-counter">0</span>
    </a>
  </div>
</div>
